/* Variables para colores */
:root {
    --azul2: #0b3954;
    --verde2: #087e8b;
    --azul: #0000fd;
    --verde: #399a53;
    --gris: #6a6a6a;
    --rojo: #cf1e1e;
}


* {
    font-family: sans-serif;
}


body {
    /* padding: 60px 20px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.column {
    flex-direction: column;
}

input, select {
    border-radius: 4px;
    border: 1px solid #000;
    box-shadow: none !important;
}

input:focus, select:focus {
    box-shadow: 0 0 5px 2px var(--verde) !important;
    border: none;
}

.errorInput {
    border: 1px solid var(--rojo);
}

.errorInput:focus {
    box-shadow: 0 0 5px 2px var(--rojo) !important;
}

hr {
    color: #000;
}

.paginaInicio {
    align-items: center;
    margin-top: 2rem;
}

.logoInicio {
    width: 90px;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 2rem;
}


#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
}

.sesion {
    width: 50% !important;
    margin-top: 2rem !important;
}


.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.offcanvas-header {
    justify-content: center;
}

.accordion-item {
    border: none;
}

.accordion-button:hover,
.accordion-button:not(.collapsed) {
    background: var(--verde);
    color: #fff;
    border: 1px solid var(--verde);
}

.accordion-button:active {
    background: var(--verde);
    color: #fff;
    border: 1px solid var(--verde2);
}



.accordion-button {
    box-shadow: none !important
}





@media screen and (max-width: 700px) {
    
    .logoInicio {
        margin-bottom: 3rem;
    }

}



.tarjeta {
    border: 1px solid var(--verde);
}

.tarjeta:hover {
    box-shadow: 0 0 10px 5px var(--verde) 
}


.form-group p {
    font-size: 14px;
}




.imgBoxShadow {
    box-shadow: 0 10px 20px 0 #08310e82;
}


.imgAnimate:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.subTitle {
    font-size: 46px;
}

.selectBuscar {
    width: 10rem !important;
}


/* 


::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #2b3035;
}


::-webkit-scrollbar-thumb {
    background: #f1f4f5;
}

::-webkit-scrollbar-thumb:hover {
    background: #f1f4f5;
} */



